server:
  port: 3000

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://114.55.145.3:3307/rui-fat?characterEncoding=utf-8&useSSL=false
    username: root
    password: wjyy26303

  jpa:
#    hibernate:
#      ddl-auto: update
    show-sql: true